---
export interface Props {
  title: string;
  description: string;
  videoHtml?: string;
  imgSrc?: string;
  url?: string;
  repo?: string;
}

import { Icon } from "astro-icon";

const { title, description, videoHtml, imgSrc, url, repo } = Astro.props;
---

<section>
  <div>

    <h2>
      {title}
      <Fragment>
        {
          repo && (
            <a href={repo} target="_blank">
              <span>
                <Icon pack="mdi" name="github" />
              </span>
            </a>
          )
        }
      </Fragment>
      <Fragment>
        {
          url && (
            <a href={url} target="_blank">
              <span>
                <Icon pack="mdi" name="link-variant" />
              </span>
            </a>
          )
        }
      </Fragment>
    </h2>
    <p>{description}</p>
  </div>
  <div class="project-media">
    <div>
      {imgSrc && <img src={imgSrc} alt={description} />}
    </div>
    <div>
      {videoHtml && <Fragment set:html={videoHtml} />}
    </div>
  </div>
  <div class="footer">
    <p>
      <Icon pack="mdi" name="link-variant" />
      <a href={url} target="_blank">Click here to try it out!</a>
    </p>
    <!-- <a href="">View project on GitHub</a> -->
  </div>
</section>

<style>
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    padding: 0 10%;

    & p {
      font-size: clamp(18px, 2vw, 24px);
      line-height: 1.5;
    }

    @media (width >= 1000px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .project-media > * {
    width: clamp(250px, 80vw, 400px);

    & img {
      width: inherit;
    }
  }

  [astro-icon] {
    width: 20px;
    vertical-align: middle;
  }

  h2 {
    width: 100%;
    position: relative;

    & a {
      text-decoration: none;
      color: inherit;

      & [astro-icon] {
        float: right;
        width: 1.3em;
        z-index: 1;
      }

      &:hover {
        color: var(--accent1);
      }
    }
  }

  .footer {
    width: 100%;
    display: flex;
    justify-content: space-evenly;

    & p {
      font-size: 20px;
      color: var(--color1);
      padding: 0.75em;
      background: var(--accent1);
      border-radius: 0.2em;
      text-shadow: 0 0 0.2em var(--color2);
      font-weight: bold;

      & a {
        color: inherit;
        text-decoration: none;
      }

      &:hover {
        translate: 0 -5%;
        background: var(--gradient);
        color: var(--color2);
        text-shadow: none;
        cursor: pointer;
      }
    }
  }
</style>
